<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apple.arentcar.mapper.RentalCarsMapper">
    <!-- 모든 차량 조회 -->
    <select id="getAllRentalCars" resultType="com.apple.arentcar.model.RentalCars">
        SELECT * FROM rental_cars
    </select>

    <!-- PK로 단건 차량 조회 -->
    <select id="getRentalCarsById" resultType="com.apple.arentcar.model.RentalCars">
        SELECT * FROM rental_cars where car_code = #{carCode}
    </select>

    <!-- 차량 입력 -->
    <insert id="createRentalCars" parameterType="com.apple.arentcar.model.RentalCars"
            useGeneratedKeys="true" keyProperty="carCode">
        INSERT INTO rental_cars
        (car_code, car_type_code, car_number, model_year, branch_code, car_status, created_at, updated_at)
        VALUES
        (#{carCode}, #{carTypeCode}, #{carNumber}, #{modelYear}, #{branchCode}, #{carStatus}, NOW(), NOW())
    </insert>

    <!-- 차량 삭제 -->
    <delete id="deleteRentalCarsById">
        DELETE FROM rental_cars where car_code = #{carCode}
    </delete>

    <!-- 차량 수정 -->
    <update id="updateRentalCarsById" parameterType="com.apple.arentcar.model.RentalCars">
        UPDATE rental_cars
        SET
        car_type_code= #{carTypeCode},
        car_number = #{carNumber},
        model_year = #{modelYear},
        branch_code = #{branchCode},
        car_status = #{carStatus},
        updated_at = NOW()
        WHERE car_code = #{carCode}
    </update>
</mapper>