.manager-post-notice-header-h1{
    font-weight: bold;
}

.manager-post-notice-table-wrap table{
    width: 1280px;
}

.manager-post-notice-table-wrap td, .manager-post-notice-table-wrap th{
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

.manager-post-notice-table-wrap th:nth-of-type(1) {
    width: 5%;
}
.manager-post-notice-table-wrap th:nth-of-type(2) {
    width: 50%;
}
.manager-post-notice-table-wrap th:nth-of-type(3) {
    width: 15%;
}
.manager-post-notice-table-wrap th:nth-of-type(4) {
    width: 15%;
}
.manager-post-notice-table-wrap th:nth-of-type(5) {
    width: 15%;
}

.post-btn1{
    display: inline-block;
    background-color: #ee0a0a;
    color: #eeeeee;
    text-align: center;
    width: 50px;
    height: 25px;
    line-height: 25px;
}
.post-btn2{
    display: inline-block;
    background-color: #3b70d6;
    color: #eeeeee;
    text-align: center;
    width: 50px;
    height: 25px;
    line-height: 25px;
}
.post-btn3{
    display: inline-block;
    background-color: #ededf0;
    color: #77777a;
    text-align: center;
    width: 50px;
    height: 25px;
    line-height: 25px;
}


