.manage-payment-wrap {
  margin: 20px;
}
.manage-payment-title-wrap{
  margin: 20px 20px;
}

.manage-payment-search-wrap{
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 5px; /* 요소 간 간격 */
}

.manage-payment-content-header-wrap {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.manage-payment-content-list-wrap {
  display: flex;
  flex-direction: column; 
  width: 100%;
  margin-bottom: 3px;
}

.manage-payment-content-row-wrap {
  display: flex; /* 플렉스 박스로 가로 정렬 */
  align-items: center;
}

.manage-payment-content-popup-wrap {
  width: 500px;
  /* margin: 250px auto; */
  margin: 80px auto;
  padding: 20px 20px;
  background-color: #fff;
  border-radius: 6px;
}

.manage-payment-content-popup-header {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  /* margin-bottom: 20px;  */
}

/* 제목 스타일 */
.manage-payment-detail-row-title {
  display: inline-block;
  width: 120px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ddd;
  font-weight: bold;
  background-color: aliceblue;
  padding-left: 10px;
}

/* 값 스타일 */
.manage-payment-detail-row-value {
  width: 300px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ddd;
  background-color: white;
  display: inline-block;
  text-align: left; 
  padding-left: 10px;
}

.manage-payment-popup-close manager-button {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

