.user-customers-detail{
    width: 100%;
    background-color: #ededf0;
    white-space: pre-line;
}
.user-customers-detail-notices{
    padding: 0px;
}
.user-customers-detail-notices-header{
    overflow: hidden;

}
.user-customers-detail-notices-title{
    float: left;
}
.user-customers-detail-notices-author{
    float: right;
}
.user-customers-detail-notices-author>div{
    text-align: end;
}
.user-customers-detail-notices-content{
    font-size: 16px;
    padding: 0px 30px;
}

.user-customers-list{
    text-align: center;
    position: absolute;
    width: calc(100% - 50px);
    bottom: 0;
}

.user-customers-list-button {
    display: inline-block;
    width: 100px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    color: #ededf0;
    border-radius: 20px;
    background-color: #ff7916;
}
