.payment-completed-page-wrap{
    width: 1080px;
    margin: 0 auto;
    text-align: center;
}
.payment-completed-page-title{
    display: block;
    margin: 50px 0;
    font-weight: bold;
}
.payment-completed-page-body{
    text-align: left;
    font-size: 18px;
}
.payment-completed-page-item{
    display: flex;
    gap: 80px;
    margin: 20px;
}
.payment-completed-page-item span:nth-child(1){
    width: 100px;
    display: block;
}
.payment-completed-page-button-wrap{
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.payment-completed-page-button{
    width: 180px;
    height: 50px;
    font-size: 16px;
    color: #fff;
    background-color: #D60228;
    text-align: center;
    line-height: 50px;
    border-radius: 12px;
    font-weight: bold;
}