.user-customers-reviews{
    width: 100%;
    background-color: #ededf0;
    white-space: pre-line;
}

.user-customers-detail-reviews{
    padding: 0px;
}
.user-customers-detail-reviews-header{
    overflow: hidden;

}
.user-customers-detail-reviews-title{
    float: left;
}
.user-customers-detail-reviews-author{
    float: right;
}
.user-customers-detail-reviews-author>div{
    text-align: end;
}
.user-customers-detail-reviews-content{
    font-size: 16px;
    padding: 0px 30px;
}

.user-customers-create-reviews{
    margin: 0;
    padding-bottom: 35px;
}

.user-customers-create-review-popup-wrap{
    margin: 0px auto;
    min-height: 200px;
    max-width: 1000px;
}

.user-customers-create-review-popup-line{
    text-align: center;
    margin: 10px 0px;
}
.user-customers-create-review-popup-wrap h6{
    font-weight: bold;
    font-size: 18px;
}
.user-customers-create-review-popup-score{
    font-size: 22px;
}
.user-customers-create-review-popup-content{
    border: 1px solid #cfcfcf;
    width: 900px;
    resize: none;
    overflow:hidden;
    padding: 5px;
    display: inline-block;
}
.user-customers-create-review-popup-content:focus {
    outline: none;
}

.user-customers-create-review-popup-button{
    width: 70px;
    height: 35px;
    margin: 0px 5px;
    background-color: #ff7916;
    color: #ededf0;
    /* font-weight: bold; */
    font-size: 14px;
    /* vertical-align: middle; */
    border-radius: 20px;
}

.user-customers-list{
    text-align: center;
    position: absolute;
    width: calc(100% - 50px);
    bottom: 0;
}

.user-customers-list-button {
    display: inline-block;
    width: 100px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    color: #ededf0;
    border-radius: 20px;
    background-color: #ff7916;
}

.user-customers-create-review-popup-score{
    color: #ee0a0a;
}

